::placeholder {
    color: rgb(176, 175, 175) !important;
}

.atm-card {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(30deg, black 40%, grey 60%, black 90%);
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    color: grey;
}

.sim {
    width: 60px;
    height: 50px;
    background-color: goldenrod;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 6px 2px grey inset;
}

.sim table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.sim table td {
    width: 33%;
    height: 33%;
    border: 1px solid black;
}

.serial {
    font-size: 1.2rem;
}

.serial b {
    margin-right: 20px;
}

ul {
    list-style: none;
}

li::before {
    content: "";
    display: inline-block;
    position: relative;

    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: dodgerblue;
}